---
- hosts: local
  tasks:
    - name: Setup Solr and Drupal Connector
      include_role:
        name: pacifica.ansible_drupalsolr
    - name: Remove Packages if Keep VCS
      command:
        cmd: "composer remove {{ item }}"
        chdir: /var/www/drupalvm/drupal
      loop:
        - pacifica/pacifica_profiles
        - pacifica/pacifica_theme
        - pacifica/pacifica
      when:
        - "keep_vcs is defined and ( keep_vcs | bool )"
    - name: Require Packages if Keep VCS
      command:
        cmd: "composer require {{ item }}"
        chdir: /var/www/drupalvm/drupal
      loop:
        - pacifica/pacifica:dev-8.x-1.x
        - pacifica/pacifica_theme:dev-8.x-1.x
        - pacifica/pacifica_profiles:dev-8.x-1.x
      when:
        - "keep_vcs is defined and ( keep_vcs | bool )"
    - name: Verify Files Ownership
      file:
        state: directory
        path: /var/www/drupalvm/drupal/web/sites/default/files
        owner: root
        group: apache
        mode: 0770
    - name: Run Drush Cache Rebuild
      retries: 3
      delay: 3
      register: result
      until: (result.get('rc', -1) | int) == 0
      shell: drush cr
      args:
        chdir: /var/www/drupalvm/drupal
    - name: Setup PostgreSQL
      include_role:
        name: geerlingguy.postgresql
    - name: Setup Redis
      include_role:
        name: geerlingguy.redis
    - name: Setup PostgreSQL
      include_role:
        name: pacifica.ansible_pacifica

